*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   min-height: 100vh;
}
.them{
  transition: all 1.5s ease;
}
.dark{
  color: white !important;
  background-color: black !important;
  filter: drop-shadow(0 0 10px whitesmoke);
  min-height: 100vh;
}
.light{
  color: black !important;
  background-color: white !important;
  filter: drop-shadow(0 0 10px black);
  height: 100vh;
}
