.whole{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
    width:100%;
    height: 83vh;
    /* margin-left: 5%; */
}
.left{
flex:2;
/* border: 2px gold solid; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 70vh;
}
.right{
    flex: 4;
    /* border: 2px solid blue; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px blue;
    margin: 5px;
}
.l1{
    display: flex;
    background: linear-gradient(45deg, yellow 10%,blue 50%,magenta 70%,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 55px;
    font-weight: 100;
    filter: drop-shadow(1px 1px 2px whitesmoke);
   
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    
}
.l2{
   margin-top: 50px;
    color: whitesmoke;
}